body{

    background-color: rgb(250, 229, 229);
}
/* navigation bar style start here */
*{
    font-family:Inter;
}


.btn-primary{

                
    background-color: #244cbd;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    font-size: 20px;
    font-weight: 600;

   transition: background-color 0.3s ease;

}
.btn-primary:hover {
    background-color: #02269b;
}


.container{

  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.display{

    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.display a{

    text-decoration: none;
    color: #575757;
}
.logo{

    display: flex;
    align-items: center;
    gap: 10px;


}
/* navigation bar style start here */



/* Hero section start here */

.hero{


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: flex-start;
    padding-bottom: 200px;
    height: 100vh;

    background-image:url(./assets/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;

    background-image:
    linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url("./assets/banner.jpg");
   
}

.hero h1{

          font-size: 64px;
          color: white;
         margin: 10px auto 70px;



}
.hero p{

    color: white;
    font-size: 16px;
     margin: 30px auto 90px;
    max-width: 700px;
    line-height: 1.6;

   
}


 .hero-content{

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    
 }
.hero.btn-primary{

    margin-top: 40px;
}
span{
    font-style: italic;
}